* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #4d4d4d;
    font-size: 24px;
    font-family: sans-serif;
}

img {
    width: 100%;
    transition: transform 0.3s ease 0s;
    object-fit: cover;
}

/* fancy animation without jabbascript */
img:hover {
    transform: scale(1.15);
}

.top {
    background: white;
    display: flex;
    height: 120px;

    width: 100%;
    padding-left: 30px;
    padding-right: 10px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}

.nav-item {
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.nav-item a {
    color: black;
    display: flex;
    padding: 10px 15px;
    text-decoration: none;
    height: 100%;
    width: 100%;

    justify-content: center;
    align-items: center;
}

.banner {
    height: 50vw;
    background-image: 
    linear-gradient(transparent, 60%, black),
    url(/resources/img/banner.webp);
}

.contact-items {
    color: white;
}

.box {
    padding: 40px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.box-text {
    /*text-shadow: rgba(0, 0, 0, 0.498039) -1px -1px 0px, rgba(0, 0, 0, 0.498039) -1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px -1px 0px;*/

    color: white;
}


.time-list {
    list-style-type:square;
}

.item-list {
    list-style: none;
    display: flex;

    flex-direction: row;
    align-items: center;
    padding-right: 3px;
    gap: 2rem;
}

.item-box {
    width: 400px;
    flex-shrink: 1;
    flex-grow: 1;

    justify-content: center;
}

.openingstijden {
    background: rgb(0, 0, 0);
    color: white;
}

.contact {
    background: #b3b3b3;
}

.snakebox {
    background: rgb(107, 107, 107);
    width: 100%;
    height: 43vh;
}

#game {
    box-shadow: black 20px 10px 50px;
    width: 100%;
    height: 50%;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;

    width: 100vw;
    height: 3vh;

    flex-shrink: 0;
    flex-grow: 1;

    background: white;
    background-image: none;
    color: black;

    justify-content: space-evenly;
    align-items: center;
}

footer > p {
    font-size: 70%;
    margin: 0 auto;
}

@media screen and (max-width:700px) {
    body {
        font-size: 14px;
    }

    .item-box {
        font-size: 80%;
        height: 62vw;
    }

    .snake {
        height: 30%;
    }

    .banner-title {
        font-size: 380%;
    }
}

/*
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠿⠿⠿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⠟⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠉⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢺⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠆⠜⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⠿⠿⠛⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠻⣿⣿⣿⣿⣿
⣿⣿⡏⠁⠀⠀⠀⠀⠀⣀⣠⣤⣤⣶⣶⣶⣶⣶⣦⣤⡄⠀⠀⠀⠀⢀⣴⣿⣿⣿⣿⣿
⣿⣿⣷⣄⠀⠀⠀⢠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢿⡧⠇⢀⣤⣶⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣾⣮⣭⣿⡻⣽⣒⠀⣤⣜⣭⠐⢐⣒⠢⢰⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣏⣿⣿⣿⣿⣿⣿⡟⣾⣿⠂⢈⢿⣷⣞⣸⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣽⣿⣿⣷⣶⣾⡿⠿⣿⠗⠈⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠻⠋⠉⠑⠀⠀⢘⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⡿⠟⢹⣿⣿⡇⢀⣶⣶⠴⠶⠀⠀⢽⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡿⠀⠀⢸⣿⣿⠀⠀⠣⠀⠀⠀⠀⠀⡟⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⡿⠟⠋⠀⠀⠀⠀⠹⣿⣧⣀⠀⠀⠀⠀⡀⣴⠁⢘⡙⢿⣿⣿⣿⣿⣿⣿⣿⣿
⠉⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠈⠙⢿⠗⠂⠄⠀⣴⡟⠀⠀⡃⠀⠉⠉⠟⡿⣿⣿⣿⣿
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢷⠾⠛⠂⢹⠀⠀⠀⢡⠀⠀⠀⠀⠀⠙⠛⠿⢿
*/